@model DryCleaning.WebUI.Models.CartIndeViewModel

@{
    ViewBag.Title = "Заказ/Чек";
}
<h2>Чек</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="center">Количество</th>
            <th align="left">Вещь</th>
            <th align="left">Вид чистки</th>
            <th align="right">Цена</th>
            <th align="right">Сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td align="center">@line.Quantity</td>
            <td align="left">@line.Order.Thing</td>
            <td align="left">@line.Order.Category</td>
            <td align="right">@line.Order.Price.ToString("c")</td>
            <td align="right">
                @((line.Quantity * line.Order.Price).ToString("c"))
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" align="right">ВСЕГО:<br><h6><i>НДС:</i></h6></td>
            <td align="right">@Model.Cart.ComputeTotalValue().ToString("c")<br><h6><i>@((Model.Cart.ComputeTotalValue() / 6).ToString("c"))</i></h6></td>
        </tr>        
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Вернуться к списку клиентов</a>
</p>