@model DryCleaning.Domain.Entities.Order

<div class="item">
<pre>
<b size="20pt">  &diams; @Model.Name</b>
    Адрес:        @Model.Adress
    Телефон:      @Model.Telephone
    Вещь:         @Model.Thing
    Стирка        @Model.Category

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.OrderID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
<input type="submit" value="+ Add to cart" />
    }
<b size="20pt">                &#9658; @Model.Price.ToString("c")</b>
</pre>
</div>